@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #48d7e4;
    --secondary-color: #114265;
    --accent1-color: #00007A;
    --accent2-color: #004040;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;
    --nav-background-color: #004040;
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #058787;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

html, body {
    height: 100%;
    margin: 0;
}
body, footer, main, .grid {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px 50px 20px;
}

body {
    background-image: url("../images/white-water-rafting-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font);
}

.grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 3px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    padding-bottom: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
}

header img {
    margin: auto;
    width: 150px;
    height: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s ease;
    
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.95);
}

aside {
    background: rgba(255, 255, 255, 0.95);
}

footer {
    background-color: #004040;
    text-align: center;
    padding: 0.5rem;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: var(--nav-hover-link-color);
}

footer a {
    color: var(--nav-hover-link-color);
}

footer nav.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer nav.social-links img {
    height: 50px;
    width: auto;
}


/* About Us specific */

.hero {
    display: grid;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    padding: 3px;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #004040;
}

.article-container {
    padding: 3px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: rgba(44, 133, 141, 0.5);
}

.article-container p {
    color: #fff;
}

.article-container img {
    float: right;
    margin: 0 auto;
    transform: translate(0, 15%);
    padding: 1px;
    width: 150px;
    height: auto;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.history h2{
    text-align: center;
}

.history img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.history p {
    width: 100%;
    padding: 0 20px;
    text-align: justify;
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.images{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.images h2 {
    text-align: center;
}

.images img {
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.image-container figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 100%;
    margin: auto;
}

/* Home Specific */


.home-container {
    display: flex;
    flex-direction: column;
}

.heading-container img {
    width: 100%;
    height: auto;
}

.home-container h1 { 
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.grid-item img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.newsletter-form {
    /* margin: 20px 0; */
}

.newsletter-form form {
    width: 350px;
    height: auto;
    margin: 20px auto 20px;
    /* margin-bottom: 20px; */

}

.newsletter-form fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.newsletter-form legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.newsletter-form label {
    display: block;
    margin-bottom: 5px;
}

.newsletter-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.newsletter-form button {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--nav-background-color);
    color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: var(--nav-hover-background-color);
}

.cta {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--nav-background-color);
    color: #eee;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--nav-hover-background-color);
}


/* Contact Us specific*/

.contact-us {
    text-align: center;
}
.contact-us h1 {
    padding-bottom: 40px;
}

.contactus {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

.forms {
    width: 45%;
    order: 1;
}

.map-address {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.map {
    width: 100%;
}

iframe {
    width: 100%;
    height: 400px;
}

.address {
    margin-top: 100px;
    width: 100%;
    text-align: left;
    color: var(--accent1-color);
    font-size: x-large;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--accent2-color);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
}

fieldset {
    display: grid;
    grid-gap: .25rem;
    margin: 1rem;
    border: 1px solid var(--accent2-color);
    padding: 1rem;
    border-radius: .5rem;
}

fieldset.radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    margin-top: 10px;
}

fieldset.radio label {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
}

fieldset.radio input[type="radio"] {
    margin-right: 5px;
    display: inline-flex;
}

legend {
    padding: .25rem;
    color: rgb(72, 72, 72);
    font-size: 1.3em;
}

input, textarea {
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-top: 10px;
    vertical-align: bottom;
}

.employees {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding-top: 40px;
}

.employees figure {
    display: inline-block;
    margin: 20px;
}

.employees img {
    width: 100%;
    height: auto;
}

button {
    margin: 1rem;
    border: .5px solid;
    border-radius: .5rem;
    padding: .75rem;
    background-color: var(--nav-background-color);
    color: #eee;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--nav-hover-background-color);
}

/* Trips Specific */

.call-action {
    position: relative; 
    background-image: url(../images/rafting14_600.jpg);
    height: 400px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.book-now {
    position: absolute; 
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: var(--nav-background-color);
    color: #eee;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-now:hover {
    background-color: var(--nav-hover-background-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row h2 {
    text-align: center;
}
.col-4, .col-s-4 {
    flex: 1;
    padding: 15px;
}

.col-4 img, .col-s-4 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.col-4 {
    position: relative;
    overflow: hidden;
}

.col-4:hover img {
    transform: scale(1.1);
}

.col-4 h3, .col-4 p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    transition: bottom 0.3s ease, background-color 0.3s ease;
}

.col-4:hover h3, .col-4:hover p {
    bottom: calc(50% + 10px);
    background-color: rgba(255, 255, 255, 0.8);
}

.col-4 p {
    display: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    bottom: -100%;
}

.col-4:hover p {
    display: block;
    bottom: 0;
}

.book-this {
    display: block;
    width: 200px; /* Adjust width as needed */
    text-align: center;
    padding: 10px;
    background-color:var(--nav-background-color);
    color: #eee;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-this:hover {
    background-color: var(--nav-hover-background-color);
}

/* .trip-table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}

.trip-table th, .trip-table td {
    border: 1px solid var(--accent2-color);
    padding: 10px;
    text-align: center;
}

.trip-table th {
    background-color: var(--secondary-color);
    color: #fff;
}

.trip-table th.trip-name {
    width: 15%;
}

.trip-table th.duration {
    width: 15%;
}

.trip-table th.price {
    width: 15%;
}

.trip-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.trip-table tr:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.trip-table a {
    color: var(--secondary-color);
    text-decoration: none;
}

.trip-table a:hover {
    text-decoration: underline;
} */

/* Media Queries */

/* Contact Us specific */
@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        /* align-items: center; */
    }

    .forms {
        width: 100%;
        order: 1;
    }

    .map-address {
        width: 100%;
        order: 3;
        margin-top: 20px;
    }

    .employees {
        width: 100%;
    }

    .employees figure {
        display: block;
        margin: 20px auto;
    }
    .hero {
        display: none;
    }
    .book-this {
        width: 100%;
    }
}

/* general */

@media only screen and (min-width: 700px) {
    header {
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto;
        text-align: left;
    }

    nav {
        justify-content: flex-start;
    }

    .home-container {
        flex-direction: row;
    }

    .cta {
        margin: auto;
    }

    .home {
        flex: 3;
        margin: 0 auto;
        /* margin-right: 20px; */
    }

    .newsletter-form {
        flex: 1;
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: 20px;
        /* margin: 0 auto; */
        /* padding-right: 30px; */
    }

    .newsletter-form form{
        width: 80%;
    }
    .home-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .article-container{
        bottom: 0;
    }

    .history {
        flex-direction: column;
        align-items: center;
    }
    
    .history h2 {
        font-size: 2rem;
        text-align: center;
    }

    .history-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .history img {
        max-width: 50%;
        /* width: 100%; */
        height: auto;
    }

    .history p {
        width: 100%;
        text-align: justify;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .images h2 {
        font-size: 2rem;
    }

    /* For tablets: */
    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }
}
  
@media only screen and (min-width: 768px) {

    .image-container {
        flex-direction: row;
        gap: 1rem;
    }

    footer .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer nav.social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .book-now {
        width: 400px;
        font-size: xx-large;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribute columns evenly */
    }

    .col-4 {
        flex: 0 0 calc(50% - 30px); /* 30px padding between columns */
        max-width: calc(50% - 30px);
    }
    .col-4 img {
        width: 100%;
        height: auto;
    }

    /* For desktop: */
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}

@media only screen and (min-width: 1024px) {
    footer .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer nav.social-links {
        display: flex;
        gap: 1rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Distribute columns evenly */
    }

    .col-4 {
        flex: 0 0 calc(50% - 30px); /* 30px padding between columns */
        max-width: calc(50% - 30px);
    }
}