@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --primary-color:#48d7e4;
    --secondary-color:#114265;
    --accent1-color:#00007A;
    --accent2-color:#004040;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;
    --nav-background-color:#004040 ;
    --nav-link-color:#fff ;
    --nav-hover-link-color:#fff ;
    --nav-hover-background-color:#058787 ;
    
}

body, footer, main, .grid {
    max-width: 1000px;
}


body{
    font-family: var(--paragraph-font);
    margin: 0 auto;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p{
    padding: 3px;
}

header {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px var(--accent2-color);
}

header img {
    margin: auto;
    width: 150px;
    height: auto;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content:flex-start;
}
nav a{
    display: block;
    /* background-color: var(--nav-background-color); */
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    padding: 3px;
    position: absolute;
    width: 100%;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #004040;
}

.hero article {
    padding: 3px;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px; 
    height: 150px; 
    background-color: rgba(44, 133, 141, 0.5);
}

.hero article p {
    color: #fff;
}

.hero article img {
    float: right;
    margin: 0 auto;
    transform:translate(0, 15%);
    padding: 1px;
    width: 150px;
    height: auto;
}

.images section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.images h2{
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}
.images img{
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    height: auto;
}

.image-container {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    gap: .25rem;
    overflow-x: auto;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
    margin: auto;
}

footer {
    background-color: #004040;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
}

footer p {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nav-hover-link-color);
}

footer nav {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a img {
    height: 50px;
    width: auto;
}

.sociallinks {
    text-decoration: none;
}