@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #48d7e4;
    --secondary-color: #114265;
    --accent1-color: #00007A;
    --accent2-color: #004040;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;
    --nav-background-color: #004040;
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #058787;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
  }

html, body {
    height: 100%;
    margin: 0 auto;
}
body, footer, main, .grid {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font);
}

.grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 3px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent2-color);
    text-align: center;
}

header img {
    margin: auto;
    width: 150px;
    height: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    flex-grow: 1;
}

footer {
    background-color: #004040;
    text-align: center;
    padding: .5rem;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: var(--nav-hover-link-color);
}

footer a {
    color: var(--nav-hover-link-color);
}

footer nav.sociallinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer nav.sociallinks img {
    height: 50px;
    width: auto;
}


/* About Us specific */

.hero {
    display: grid;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    padding: 3px;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #004040;
}

.article-container {
    padding: 3px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: rgba(44, 133, 141, 0.5);
}

.article-container p {
    color: #fff;
}

.article-container img {
    float: right;
    margin: 0 auto;
    transform: translate(0, 15%);
    padding: 1px;
    width: 150px;
    height: auto;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.history h2{
    text-align: center;
}

.history img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.history p {
    width: 100%;
    padding: 0 20px;
    text-align: justify;
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.images section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.images h2 {
    text-align: center;
}

.images img {
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.image-container figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 100%;
    margin: auto;
}

/* Contact Us specific*/

.contact-us {
    text-align: center;
}
.contact-us h1 {
    padding-bottom: 40px;
}

.contactus {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

.forms {
    width: 45%;
    order: 1;
}

.map-address {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.map {
    width: 100%;
}

iframe {
    width: 100%;
    height: 400px;
}

.address {
    margin-top: 100px;
    width: 100%;
    text-align: left;
    color: var(--accent1-color);
    font-size: x-large;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--accent2-color);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
}

fieldset {
    display: grid;
    grid-gap: .25rem;
    margin: 1rem;
    border: 1px solid var(--accent2-color);
    padding: 1rem;
    border-radius: .5rem;
}

fieldset.radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    margin-top: 10px;
}

fieldset.radio label {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
}

fieldset.radio input[type="radio"] {
    margin-right: 5px;
    display: inline-flex;
}

legend {
    padding: .25rem;
    color: rgb(72, 72, 72);
    font-size: 1.3em;
}

input, textarea {
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-top: 10px;
    vertical-align: bottom;
}

.employees {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding-top: 40px;
}

.employees figure {
    display: inline-block;
    margin: 20px;
}

.employees img {
    width: 100%;
    height: auto;
}

button {
    margin: 1rem;
    border: .5px solid;
    border-radius: .5rem;
    padding: .75rem;
    background-color: var(--nav-background-color);
    color: #eee;
}

button:hover {
    background-color: var(--nav-hover-background-color);
}

/* Trips Specific */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4, .col-s-4 {
    flex: 100%;
    padding: 15px;
}

.col-4 img, .col-s-4 img {
    width: 100%;
    height: auto;
}

.col-4 {
    position: relative;
    overflow: hidden;
}

.col-4 img {
    transition: transform 0.3s ease;
}

.col-4:hover img {
    transform: scale(1.1);
}

.col-4 h3, .col-4 p {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity */
    padding: 5px; /* Adjust padding as needed */
    transition: bottom 0.3s ease, background-color 0.3s ease;
}

.col-4:hover h3, .col-4:hover p {
    bottom: calc(50% + 10px); /* Adjust to move the elements upwards */
    background-color: rgba(255, 255, 255, 0.8); /* Make background transparent */
}

.col-4 p {
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: -100%;
}

.col-4:hover p {
    display: block;
    bottom: 0;
}

/* Media Queries */

/* Contact Us specific */
@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        /* align-items: center; */
    }

    .forms {
        width: 100%;
        order: 1;
    }

    .map-address {
        width: 100%;
        order: 3;
        margin-top: 20px;
    }

    .employees {
        width: 100%;
    }

    .employees figure {
        display: block;
        margin: 20px auto;
    }
    .hero {
        display: none;
    }
}

/* general */

@media only screen and (min-width: 600px) {
    header {
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto;
        text-align: left;
    }

    nav {
        justify-content: flex-start;
    }

    .article-container{
        bottom: 0;
    }

    .history {
        flex-direction: column;
        align-items: center;
    }
    
    .history h2 {
        font-size: 2rem;
        text-align: center;
    }

    .history-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .history img {
        max-width: 50%;
        /* width: 100%; */
        height: auto;
    }

    .history p {
        width: 100%;
        text-align: justify;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .images h2 {
        font-size: 2rem;
    }

    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {

    .image-container {
        flex-direction: row;
        gap: 1rem;
    }

    footer .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer nav.sociallinks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .row {
        display: flex;
    }
    .col-4 {
        flex: 1;
        padding: 15px;
    }
    .col-4 img {
        width: 100%;
        height: auto;
    }

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    footer .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer nav.sociallinks {
        display: flex;
        gap: 1rem;
    }
}