@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --primary-color:#48D7E4;
    --secondary-color:#114265;
    --accent1-color:#0000FE;
    --accent2-color:#004040;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;
    --navigation-background-color:#004040 ;
    --navigation-link-color:#fff ;
    --navigation-hover-link-color:#fff ;
    --navigation-hover-background-color:#058787 ;
    
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--accent2-color);
}


header{
    padding: 20px;
    background-color: var(--secondary-color);
}
header h1{
    color: var(--primary-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--navigation-link-color);
}

nav a:hover{
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}

