@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    box-sizing: border-box;
}

:root{
    --primary-color:#48D7E4;
    --secondary-color:#114265;
    --accent1-color:#00007A;
    --accent2-color:#004040;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;
    --nav-background-color:#004040 ;
    --nav-link-color:#fff ;
    --nav-hover-link-color:#fff ;
    --nav-hover-background-color:#058787 ; 
}

body, footer, main, .grid {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: var(--paragraph-font);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    padding: 3px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px var(--accent2-color);
    text-align: center;
}

header img {
    margin: auto;
    width: 150px;
    height: auto;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.horizontal-list{
    display: flex;
}
.horizontal-list li{
    margin-right: 220px;
}

footer {
    background-color: #004040;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: .05rem;
}

footer p {
    color: var(--nav-hover-link-color);
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer nav img {
    height: 50px;
    width: auto;
}

@media (min-width: 600px) {
    header {
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto;
        text-align: left;
    }

    nav {
        justify-content: flex-start;
    }

}

@media (min-width: 768px) {
    footer {
        grid-template-columns: 1fr 300px;
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }