@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: #333;
    background: #fff;
}

header, form, footer {
    margin: 0 auto;
    width: 650px;
}

/* header {
    
} */

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: rgb(72, 72, 72);
    text-align: center;
}

form {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .25rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
}

legend {
    padding: .25rem;
    color: rgb(72, 72, 72);
    font-size: 1.3em;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    border: .5px solid;
    border-radius: .5rem;
    padding: .75rem;
}

button:hover {
    background-color: #757474be;
}

footer {
    margin:  1rem auto 0;
    text-align: center;
    font-size: 1em;
    color: rgb(72, 72, 72);
    border-top: 1px solid;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}